:root {
    --primary-color: #ffffff;
    --secondary-color: #CE1125;
    --tertiary-color: #006847;
    --quaternary-color: #720a14;
    height: 100%;
}

html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;
}

#card {
    background-color: var(--secondary-color);
    height: 80vh;
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    align-content: center;
}

.row {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

#bar {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}